/*Main*/

.main{
    color:rgb(228, 197, 160); 

    .main__box{
        max-width: 1100px;
        margin: 0 auto;
        padding: 20px 0;

        .main__title{
    
            font-weight: 700;
        }
        
        .main__msj{
            font-size: 20px;
        }
    }
    }