/*Header*/
.header{
    background-color: rgb(10, 9, 9);
    font-family: 'Playfair', serif;


    .header__box{
        max-width: 1100px;
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .header__title{
            font-size: 18px;
            font-weight: 700;
            color: white;
            text-transform: uppercase;
            text-decoration: none;
        }

        .header__nav{

        .header__ul{
        display: flex;
        gap: 4rem;
        align-items:center;
        justify-content: space-around;

        .logos{
            width: 40px;
        }

        .header__a{
        color:white;
        font-size: 18px;
        text-decoration: none;
        }
        }
        }
    }
}