/*Header*/
.header{
    background-color: rgb(228, 197, 160);

    .header__box{
        max-width: 1100px;
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__title{
            font-size: 40px;
            font-weight: 700;
            color: white;
        }

        .header__nav{
            display: flex;
            gap: 1rem;
            align-items: center;

            .header__a{
                color:white;
                font-size: 18px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}